.home-container {
    height: 100%;
}

.home-right-contianer {
    height: 100%;
    display: flex;

}

.content-container {
    height: 100%;
}

.home-container .home-logo-sider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

#title-home {
    margin-left: 0.5rem;
    color: white;
    font-size: 1.5rem;

}

#home-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#user-home {
    margin-right: 2rem;
    font-size: 1.2rem;
}


#header-menu-title {
    margin-left: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
}